

.eschar-chassis-header {
  background: linear-gradient( 
    0deg, #2C2C55, #00000F 15%, #00000F 70%, #2C2C55 
  );
  margin: 0px 0px 9px 0px;
  white-space: nowrap;
  width: 100%;
}


.header-hidden {
  display: none;
}


.header-shaded {
  color: #404047;
}


.header-logo {
  color: #2C2C55;
  display: inline-block;
  font-family: 'Viner Hand ITC';
  font-size: 29px;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 20px 0px 0px 25px;
  vertical-align: top;
  width: 155px;
}
  .header-logo a:link,
  .header-logo a:visited,
  .header-logo a:hover,
  .header-logo a:focus,
  .header-logo a:active {
    color: inherit;
    text-decoration: none;
  }


.header-character {
  display: inline-block;
  margin: 0px 0px 0px 60px;
  /*outline: 1px solid #00AA00;*/
  padding: 19px 0px 0px 0px;
  width: 500px;
}

.header-character-upper {
  color: #676770;
  cursor: default;
  font-size: 13px;
  /*height: 30px;*/
  /*line-height: 40px;*/
  /*outline: 1px solid aqua;*/
  padding: 0px 0px 0px 15px;
  /*vertical-align: bottom;*/
}

.header-character-lower {
  background-color: #10101F;
  border-color: #272730;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  display: inline-block;
  margin: 0px 3px 0px 0px;
  padding: 3px 2px 5px 5px;
  position: relative;
  z-index: 10;
}
  .header-character-lower:hover .header-character-drop {
    color: #A0A0A5;
  }

.header-character-current {
  height: 24px;
  /*outline: 1px solid #008000;*/
}

.header-character-current-race {
  /*background-image: url('../img/races/khajiit_norm_20.png');*/
  display: inline-block;
  height: 20px;
  margin: 0px 5px -3px 0px;
  /*outline: 1px solid #00AA00;*/
  width: 20px;
}

.header-character-current-class {
  /*background-image: url('../img/classes/nightblade_norm_20.png');*/
  display: inline-block;
  height: 20px;
  margin: 0px 10px -3px 0px;
  /*outline: 1px solid #00AA00;*/
  width: 20px;
}

.header-character-current-name {
  display: inline-block;
  font-size: 19px;
  line-height: 24px;
  width: 305px;
}
  .header-character-current-name .dropped {
    color: #676770;
  }


.header-character-drop {
  color: #676770;
  display: inline-block;
  font-weight: bold;
  height: 20px;
  text-align: center;
  width: 24px;
}

.header-character-list {
  list-style: none;
  margin: 7px 0px 0px 0px;
  /*outline: 1px solid pink;*/
  padding: 0px 0px 0px 0px;
}
  .header-character-list li {
    cursor: pointer;
    font-size: 19px;
    line-height: 27px;
    padding: 1px 0px 1px 0px;
  }
    .header-character-list li:hover {
      background-color: #242432;
      outline-color: #272730;
      outline-style: solid;
      outline-width: 2px;
    }
    .header-character-list li.selected-character {
      background-color: #A0A0A5;
      color: #00000F;
    }


.header-character-list-race {
  display: inline-block;
  height: 20px;
  margin: 0px 5px -3px 0px;
  width: 20px;
}


.header-character-list-class {
  display: inline-block;
  height: 20px;
  margin: 0px 10px -3px 0px;
  width: 20px;
}


.header-character-ctrls {
  display: inline-block;
  margin: 0px 0px 0px 0px;
  /*outline: 1px solid red;*/
  padding: 0px 0px 0px 9px;
  vertical-align: middle;
}

.header-character-ctrls-lock {
  background-image: url("../img/lock_24.png");
  background-color: #10101F;
  border-color: #272730;
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
  cursor: pointer;
  background-position-y: 24px;
  height: 24px;
  /*outline: 1px solid coral;*/
  width: 24px;
}

.header-character-ctrls-lock.locked {
  background-position-y: 0px;
}


/*************************/
/*************************/


.header-build {
  display: inline-block;
  margin: 0px 0px 0px 35px;
  /*outline: 1px solid #00AA00;*/
  padding: 19px 0px 0px 0px;
  vertical-align: top;
  width: 345px;
}


.header-build-upper {
  color: #676770;
  cursor: default;
  font-size: 13px;
  /*height: 30px;*/
  /*line-height: 40px;*/
  /*outline: 1px solid aqua;*/
  padding: 0px 0px 0px 15px;
  /*vertical-align: bottom;*/
}


.header-build-lower {
  background-color: #10101F;
  border-color: #272730;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  padding: 3px 2px 5px 7px;
}


.header-build-current {
  height: 24px;
}
  .header-build-current:hover .header-build-drop {
    color: #A0A0A5;
  }

.header-build-current-name {
  display: inline-block;
  font-size: 19px;
  line-height: 24px;
  /*vertical-align: top;*/
  width: 305px;
}


.header-build-drop {
  color: #676770;
  display: inline-block;
  font-weight: bold;
  height: 20px;
  /*line-height: 24px;*/
  /*outline: 1px solid #AA0000;*/
  text-align: center;
  /*vertical-align: top;*/
  width: 24px;
}



.header-build-list {
  height: 100px;
  list-style: none;
  margin: 7px 0px 0px 0px;
  outline: 1px solid pink;
  position: relative;
  width: 285px;
  z-index: 10;
}








